:root {
    --input-color: "white";
    --border-color: "lightgray";
    --text-color: "black";
    --background-color: #f9f9f9;
    --done-task-color: #018a01;
    --done-task-text: white;
}

#task-page {
    flex-direction: column;
}

#task-form {
    width: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
}

#task-list {
    width: 100vh;
    padding: 10px 20px;
}

#task-page li {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background: var(--input-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul li {
    margin-top: 1.5rem;
}

ul {
    padding: 1rem;
}

#task-list li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(80% - 120px);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    color: var(--text-color);
}

#task-list {
    overflow: hidden;
}

#task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}




ul li>* {
    margin-right: 0.7rem;
}

* {
    font-family: sans-serif;
}

.task-button {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.colum-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-center {
    display: flex;
    justify-content: center;
}


.fade-out {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}




li span {
    transition: transform 1s ease;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

#modal-btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.modal-window {
    border: 2px solid black;
    display: none;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    width: 20rem;
    padding: 0.8rem;
    border-radius: 8px;
    position: absolute;
    z-index: 2;
    background-color: white;
}

.pagination-btn {
    border-radius: 50%;
    margin-right: 0.7rem;
    background: #6a7dfe;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    background: -o-linear-gradient(left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(left, #21d4fd, #b721ff);
    background: linear-gradient(left, #21d4fd, #b721ff);
    padding: 2px 8px;
    color: white;
}

.margin-left {
    margin-left: auto;
}

.modal-info {
    display: flex;
    flex-direction: column;
}

.modal input {
    margin-bottom: 1.5rem;
}



.modal span {

    margin-bottom: 1rem;
    word-wrap: break-word;
    white-space: pre-line;
}

.modal-items {
    background-color: #eee1e1;
    border-radius: 4px;
    border: 2px solid black;
    padding: 5px 10px;
    color: black;
}

.strikethrough-animation {
    transform: rotateX(360deg);
    text-decoration: line-through;
}

.display-none {
    display: none;
}

.reg-log button {
    margin-bottom: 2rem;
}

.reg-log {
    justify-content: center;
}

.reg-log input {
    width: 60%;
}

.reg-log span {
    margin-bottom: 1rem;
}


.fit-content {
    width: fit-content;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.delete-account-button {
    background-color: #555;
    /*ff4d4d*/
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.delete-account-button:hover {
    background-color: #ff6666;
}

.logout-button {
    background-color: #555;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #e74c3c;

}


.change-password-button {
    background-color: #555;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.change-password-button:hover {
    background-color: #4d90fe;
}

#personal-account button,
#personal-account span {
    margin-bottom: 1rem;
}

body {
    margin: 0;
    padding: 0;

}

footer {
    background-color: var(--footer-background-color);
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
}

.guidance:hover {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}

.done {
    background: #6a7dfe !important;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff) !important;
    background: -o-linear-gradient(left, #21d4fd, #b721ff) !important;
    background: -moz-linear-gradient(left, #21d4fd, #b721ff) !important;
    background: linear-gradient(left, #21d4fd, #b721ff) !important;
    color: white;
    transition: color 0.5s ease-in-out;
}


#modal-close-button {
    color: black;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid black;
    background-color: rgb(245, 215, 215);
    padding: 2px 3px;
}

.edit-button {
    background-color: #3498db;
    color: black;
    border-radius: 8px;
    padding: 8px;
}

.edit-button:hover {
    background: rgb(82, 200, 255);
    transition: background 0.3s ease-in;
}

.delete-button {
    background-color: #ff5252;
    ;
    color: black;
    border-radius: 8px;
    padding: 8px;
}

.delete-button:hover {
    background: rgb(211, 0, 0);
    transition: background 0.3s ease-in;
}
.avatar-change-button {
    background-color: #555;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.avatar-change-button:hover {
    background-color: #3498db;
}
.fw-b {
    font-weight: bold;
}

#personal-account li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--input-color);
    padding: 10px;
    width: auto;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#personal-account-button img,
#task-button img {
    max-height: 2rem;
    max-width: 2rem;
    margin: 10px;
    position: relative;
    z-index: 2;
}

.profile-card .profile-cover:hover {
    filter: none;
    filter: none;
    -webkit-filter: none;
}

.profile-card .profile-cover .profile-details {
    background: rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    color: #747373;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    padding: 5px 0 7px;
}

.profile-card .profile-content {
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    border: 1px solid #cccccc;
    border-top: none;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.menu-container .profile-actions {
    border: 1px solid rgba(0, 0, 0, 0.8);

    border-radius: 5px;
}

.right {
    float: right;
}

.profile-avatar img {
    max-width: 100%;
    max-height: 100%;
}

.profile-card .profile-cover {
    background: url("../webapp/images/mountain_peak_4k.jpg") no-repeat center;
    position: relative;
    height: 100vh;
    background-size: cover;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all .5s;
}

.profile-avatar {
    background: #ffffff;
    border: 1px solid #eeeeee;
    border: 5px solid #ffffff;
    display: flex;
    justify-content: center;
    max-width: 30vh;
    max-height: 40vh;
    overflow: hidden;
    align-items: center;

    border-radius: 50%;
    transition: all .5s;

}

.profile-avatar {
    position: absolute;
    top: -200px;
    left: 50%;
    animation: fallAndBounce 1.5s ease forwards;
}
.profile-avatar:hover {
    margin-top: -2rem;
}
@keyframes fallAndBounce {
    0% {
        top: -200px;
        opacity: 0;
    }

    50% {
        top: 45%;
        opacity: 1;
        transform: translateX(-50%) translateY(-45%);
    }

    70% {
        top: 40%;
        transform: translateX(-50%) translateY(-50%);
    }

    100% {
        top: 45%;
        transform: translateX(-50%) translateY(-45%);
    }
}

.profile-details {
    position: absolute;
    top: 63%;
}
#username-h1 {
    display: inline-block; 
    padding: 0.2rem 0.5rem;
    border-radius: 3px; 
}

.profile-details ul #number-of-complited:hover {
    background-color: #00cc00;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.profile-details ul #number-of-tasks:hover {
    background-color: #ff6600;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.profile-details ul #tasks-at-this-moment:hover {
    background-color: #3366ff;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.profile-details #username-h1:hover {
    background-color: #3366ff;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}